.blinds {
    pointer-events: none;
    opacity: 0;
    visibility: hidden;

    position: fixed;
    z-index: 9999;
    
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;

    .blind {
        height: 0;
        background-color: var(--primary-black);
        flex-grow: 1;
        &--left,
        &--right {
            width: 6.4rem;
            flex-grow: 0;
        }
    }
}
