.section-componentblocksblocktextimage {
  padding: 0;
  .section__inner {
    background: var(--backgroundImage) no-repeat center;
    background-size: cover;
    padding: 200px 0;
  }

  .block--content {
    &__title {
      font: normal bold 4rem/1.4 var(--third-font-family);
      text-align: left;
      margin-bottom: 4rem;
    }
    &__paragraph {
      font: normal 500 3rem/1.4 var(--primary-font-family);
      text-align: left;
      p {
        + p {
          margin-top: 6rem;
        }
        .btn__red {
          margin-top: 2rem;
        }
      }
    }
  }
}
