.section-componentblocksblockiconsitems {
  position: relative;
  color: var(--white);
  background-color: var(--primary-black);
  padding: 0;

  .section__inner {
    position: relative;
    z-index: 1;
  }

  .block {
    &--icons {
      max-width: 102.4rem;
      margin: 8rem auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      &__icon {
        width: 100%;
        padding: 1rem;
        @media screen and (min-width: 768px) {
          width: 25%;
        }

        display: flex;
        align-items: center;
        flex-direction: column;
        opacity: 0;

        &--img {
          background-color: var(--primary-black);
          width: 30%;
          padding-bottom: 30%;
          @media screen and (min-width: 768px) {
            width: 50%;
            padding-bottom: 50%;
          }
          border-radius: 50%;
          position: relative;
          transition: transform 0.5s var(--primary-ease);

          img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 60%;
          }

          &:hover {
            transform: scale(1.2);
          }
        }

        &--title {
          padding: 2rem 0;
          text-transform: uppercase;
          font: normal normal 1.2rem/1.5 var(--primary-font-family);
          @media screen and (min-width: 768px) {
            font: normal normal 2.4rem/1.5 var(--primary-font-family);
          }
        }
      }
    }
  }
}
