.section-componentblocksblockicons {
  position: relative;
  background-color: var(--primary-gray);
  padding: 0;

  .section__inner {
    padding: 10vh 0 0;
    position: relative;
    z-index: 1;
  }

  &:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: center / cover transparent url(/img/menu-background.jpg)
      no-repeat padding-box;
    mix-blend-mode: color-burn;
  }

  .block {
    &--title {
      color: currentColor;
      text-align: center;
      font: normal normal 300 2.4rem/1.5 var(--heading-font-family);
      @media screen and (min-width: 768px) {
        font: normal normal 300 3.5rem/1.5 var(--heading-font-family);
      }
      text-transform: uppercase;
      max-width: 56rem;
      margin: 0 auto;

      > span {
        display: inline-block;
        transform: translateY(40px);
        opacity: 0;
      }
    }

    &--icons {
      max-width: 84rem;
      margin: 8rem auto;
      display: flex;
      gap: 2rem;
      flex-wrap: wrap;
      justify-content: center;

      @media (max-width: 768px) {
        padding: 0 var(--inner-padding-mobile);
      }

      &__icon {
        flex: 1 1 30%;
        display: flex;
        align-items: center;
        flex-direction: column;

        &--img {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          background-color: var(--primary-black);
          width: 150px;
          height: 150px;
          border-radius: 50%;
          position: relative;
          transition: transform 0.5s var(--primary-ease);

          img {
            padding: 4rem;
            width: 100%;
          }

          &:hover {
            transform: scale(1.2);
          }
        }

        &--title {
          padding: 2rem 0;
          font: normal normal 1.2rem/1.5 var(--third-font-family);
          @media screen and (min-width: 768px) {
            font: normal normal 1.8rem/1.5 var(--third-font-family);
          }
        }
      }
    }

    &--links {
      width: 100%;
      display: grid;
      grid-template-columns: 100%;
      @media screen and(min-width:768px) {
        grid-template-columns: repeat(2, 50%);
      }
      opacity: 0;
      transform: translateY(100%);

      &__label {
        position: relative;
        svg {
          position: absolute;
          z-index: 1;
          top: 50%;
          width: 30px;
          display: inline-flex;
          align-items: center;
        }

        &:nth-child(1) {
          > a {
            padding-left: 6rem;
          }
          svg {
            left: 2rem;
            transform: translateY(-50%) rotate(-180deg);
          }
        }

        &:nth-child(2) {
          > a {
            padding-right: 6rem;
            text-indent: 2rem;
          }
          svg {
            right: 2rem;
            transform: translateY(-50%);
          }
        }

        > a {
          display: flex;
          align-items: center;
          height: 100%;
          background-color: white;
          padding: 3rem;
          position: relative;
          font: normal normal 1.2rem/1.2 var(--primary-font-family);
          transition: background 0.5s var(--primary-ease);
          @media screen and(min-width:768px) {
            font-size: 1.5rem;
          }
          &:hover {
            background-color: var(--gold);
            cursor: pointer;
          }
        }
      }
    }
  }
}
