.section-componentblocksblockcasestudies {
  
  background-color: var(--primary-black);

  .case-studies {
    &__list {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      gap: 4rem;

      &--item {
        flex: 1 1 30%;
        display: inline-flex;
        justify-content: center;
      }

      .case-study {
        width: 310px;
        display: block;
        padding: 0 40px;
        position: relative;

        &::before {
          content: "Download";
          display: block;
          color: var(--white);
          font: normal 700 2rem/1.1 var(--third-font-family);
          position: absolute;
          right: -20px;
          top: 50%;
          z-index: 1;
          transform: rotate(90deg) translate(-50%, -50%);
          transform-origin: center;
          opacity: 0;
          transition: opacity .5s;
        }

        &__background {
          padding: 40px 0px 20px 0px;
          background-color: var(--background);
          margin-bottom: 2rem;
          transition: transform 0.5s;
        }
        &__preview {
          transform: translateX(20px);
          transition: transform 0.5s;
        }
        &__campaign {
          font: normal 700 2.2rem/1.1 var(--third-font-family);
          text-align: left;
          color: var(--white);
          margin-bottom: 1rem;
        }
        &__name {
          font: normal 300 2.2rem/1.1 var(--primary-font-family);
          text-align: left;
          text-transform: uppercase;
          color: var(--gold);
        }

        @media (hover: hover) {
          &:hover {
            cursor: pointer;
            .case-study__background {
              transform: translateX(40px);
            }
            .case-study__preview {
              transform: translateX(-40px);
            }
            &::before {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
