.section-componentblocksblockquote {
    height: 100vh;
    @media screen and(min-width: 768px) {
        height: 100vh;
    }
    padding: 0;
    .section__inner {
        background-color: var(--bg-color, --gold);
    }
    .block {
        &--title {
            text-align: left;
            font: normal normal 300 3.2rem/1.2 var(--heading-font-family);
            @media screen and(min-width: 768px) {
                font-size: 8rem;
            }
            color: var(--color, --primary-dark-gray);
            text-transform: uppercase;
            margin-bottom: 2rem;
        }
        &--subtitle {
            text-align: left;
            font: normal normal bold 4rem/1.2 var(--third-font-family);
            @media screen and(min-width: 768px) {
                font-size: 6rem;
            }
            color: var(--color, --primary-dark-gray);
            opacity: 0;
        }
        &--title {
            span {
                display: inline-block;
                opacity: 0;
                transform: translateY(40px);
            }
        }
    }

    canvas {
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--gold);
        z-index: 2;
        display: block;
        mix-blend-mode: screen;
    }
}
