.section-componentblocksblocklogo {
  padding: 0;

  .section__inner {
    min-height: 100vh;
    padding: 5rem 0;

    @media screen and(min-width: 768px) {
      padding: 0;
    }
  }

  .grid {
    display: grid;
    margin-top: 6rem;
    gap: 2rem;
    @media screen and(min-width: 768px) {
      margin: 0;
      gap: 6rem;
      grid-template-columns: repeat(2, 1fr);
    }
    position: relative;
    z-index: 10;

    &--title {
      font: normal normal bold 2.2rem/1.5 var(--third-font-family);
      @media screen and(min-width: 768px) {
        font-size: 3.2rem;
      }
      text-align: left;
      color: var(--primary-dark-gray);
      max-width: 80%;

      > span {
        transform: translateY(50px);
        opacity: 0;
      }
    }
    &--content {
      p {
        font: normal normal 200 1.6rem/2 var(--primary-font-family);
        text-align: left;
        color: var(--body-color);
        + p {
          margin-top: 1rem;
        }

        transform: translateY(50px);
        opacity: 0;
      }
    }
  }

  .projects-bg {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    path {
      transform: translateX(100px);
      opacity: 0;
    }
  }
}
