.block--logos {
  margin: auto;
  max-width: 102.4rem;
  position: relative;

  @media (max-width: 768px) {
    padding: 0 2.5rem;
  }

  @media (max-width: 767px) and (orientation: landscape) {
    max-width: 45rem;
    padding: 10rem 0;
  }

  &__title {
    text-align: center;
    text-transform: uppercase;
    transform: translateY(40px);
    opacity: 0;
    font: normal lighter 6.25rem/1 var(--heading-font-family);
    margin-bottom: 4.8rem;

    @media (max-width: 768px) {
      font: normal lighter 3rem/1 var(--heading-font-family);
      padding: 0 var(--inner-padding-mobile);
    }
  }

  .logo {
    opacity: 0;
    transform: translateY(20%);
  }

  .logo {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 20%;

    @media (min-width: 1024px) {
      padding: 1rem 0;
    }
    @media (max-width: 768px) {
      padding: 2rem;
      margin-bottom: 1.5rem;
      > img {
        max-height: 100%;
        max-width: 100%;
      }
    }
    @media (max-width: 767px) and (orientation: portrait) {
      width: 50%;
    }
  }
}
