.page-error{
    height: 100vh;
}

.error{
    width: 100%;
    color: var(--orange);
    font-size: 2rem;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &-message{
        padding-bottom: 2rem;
    }

}