.belu-media-logo {
  position: fixed;
  z-index: 997;
  left: var(--inner-padding);
  top: 5rem;
  @media (max-width: 768px) {
    left: var(--inner-padding-mobile);
    top: 2.5rem;
  }
  mix-blend-mode: difference;
  display: inline-block;

  svg {
    fill: white;
    height: 40px;
    @media only screen and (min-width: 480px) {
      height: 80px;
    }
  }
}
