body {
  &.hover-main-navigation .main-navigation__nav > ul > li {
    > a,
    > span {
      color: var(--primary-gray);
      opacity: 0.5;
    }
  }

  &.desktop .main-navigation__nav > ul > li {
    > a:hover {
      opacity: 1 !important;
      color: var(--white) !important;
    }
  }

  /* ********************
    Navigation
    ******************** */

  .menu-icon {
    mix-blend-mode: difference;

    position: fixed;
    z-index: 997;
    top: 5rem;
    right: var(--inner-padding);
    @media (max-width: 768px) {
      top: 2.5rem;
      right: var(--inner-padding-mobile);
    }
    height: 47px;
    background: transparent;
    display: inline-flex;
    align-items: center;
    border: 0;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
    transition: letter-spacing 0.5s ease;
    //color: currentColor;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;

    svg {
      // stroke: currentColor;
      // fill: currentColor;
      stroke: white;
      fill: white;
      margin-right: 1rem;
    }

    svg#menu-icon {
      transform: translate(0%);
      transition: transform 0.4s linear;
    }

    svg#menu-icon-close {
      transform: translate(100%);
      transition: transform 0.4s linear;
    }

    &:hover {
      letter-spacing: 0.2rem;
    }
  }

  .main-navigation {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0 6.4rem;
    z-index: 998;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    color: var(--white);

    &.nav-open {
      pointer-events: all;

      .belu-media-logo {
        opacity: 1;
        visibility: visible;
        transition: opacity 1s 0.5s ease;
        svg {
          fill: var(--gold);
        }
      }

      .menu-icon {
        opacity: 1;
        visibility: visible;
        transition: opacity 1s 0.5s ease, letter-spacing 0.5s ease;
        color: var(--gold);
        svg {
          stroke: var(--gold);
        }
      }
    }

    &.nav-close {
      pointer-events: none;

      .belu-media-logo {
        opacity: 0;
        visibility: hidden;
        transition: opacity 1s 0.5s ease;
      }

      .menu-icon {
        opacity: 0;
        visibility: hidden;
        transition: opacity 1s 0.5s ease, letter-spacing 0.5s ease;
      }
    }

    .belu-media-logo {
      opacity: 0;
      visibility: hidden;
      transition: opacity 1s 0.5s ease;
    }
    .menu-icon {
      opacity: 0;
      visibility: hidden;
      transition: opacity 1s 0.5s ease;
    }

    &__wrapper {
      height: 100%;
      width: 100%;
    }

    &__inner {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 10;
      visibility: hidden;
      opacity: 0;
    }

    &__col {
      display: flex;
      align-items: center;
    }

    &__col--left {
      flex-basis: 75%;
      padding-left: 12.5%;
    }

    &__col--right {
      flex-basis: 25%;
      flex-direction: column;
      height: 52rem;
      padding: 3.2rem 0;
      align-items: flex-start;
      justify-content: space-evenly;
    }

    &__nav {
      padding-right: 2rem;
    }

    &__nav > ul > li {
      transform: translateY(100%);
      opacity: 0;
      position: relative;
      span:hover,
      a:hover {
        transition: color 0.4s cubic-bezier(0, 0, 0.2, 1);
        color: var(--gold);
        opacity: 1;
      }
      &.active {
        > span {
          opacity: 0;
          visibility: hidden;
          height: 0;
        }
      }
      .sub-menu {
        &__title {
          > span {
            text-transform: uppercase;
            font-size: 2.2rem;
            color: var(--gold);
            border-bottom: 1px solid var(--gold);
          }
        }
      }
      > ul {
        visibility: hidden;
        opacity: 0;
        height: 0;
        > li {
          > a {
            display: flex;
            flex-direction: row;
            align-items: center;
            span {
              display: block;
              &.description {
                text-transform: initial;
                font: 200 normal 1.6rem/1.2
                  var(--primary-font-family, "Montserrat, sans-serif");
                margin-left: 3rem;
                border-left: 1px solid var(--gold);
                padding: 1rem;
                visibility: hidden;
                opacity: 0;
                transition: opacity 0.5s linear;
              }
            }

            &:hover {
              span {
                &.description {
                  visibility: visible;
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }

    &__nav > ul > li > a,
    &__nav > ul > li > span,
    &__nav > ul > li > ul > li > a {
      font: 200 normal 4.6rem/1.2
        var(--heading-font-family, "Montserrat, sans-serif");
      position: relative;
      display: inline-flex;
      z-index: 1;
      color: var(--white);
      letter-spacing: -0.1rem;
      padding: 1.2rem 0;
      -webkit-text-stroke: 0.1rem transparent;
      text-decoration: none;
      text-transform: uppercase;
      transition: 0.4s ease-in-out;
    }

    &__nav > ul > li > a span {
      display: block;
      overflow: hidden;
    }

    &__details {
      transform: translateY(100%);
      opacity: 0;
      h4 {
        color: var(--white);
        font-size: 1.4rem;
        font-weight: bold;
        margin: 0 0 0.8rem 0;
      }
      ul {
        .space-top {
          margin-top: 1.6rem;
        }
        li {
          font-size: 1.6rem;
          line-height: 2.2rem;
          color: var(--primary-gray);
          a {
            text-decoration: none;
            color: var(--primary-gray);

            &.btn{
              height: 3.5rem;
              line-height: 3.5rem;
              padding-left: 5rem;
              margin-top: 1rem;
              svg{
                transform: translate(0, -50%);
              }
            }
          }
        }
      }
    }
    &__blinds {
      position: fixed;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      display: flex;
      flex-direction: row;
    }
    &__blind {
      height: 0;
      background-color: var(--primary-black);
      flex-grow: 1;
    }
    &__blind--left,
    &__blind--right {
      width: 6.4rem;
      flex-grow: 0;
    }


    @media only screen and (max-width: 1200px) {
      &__col--left {
        padding-left: 0;
      }
      &__nav > ul > li a {
        font-size: 3.8rem;
      }
    }

  
    @media only screen and (max-width: 768px) {
      & {
        padding: 0;
      }
      &__nav {
        padding: 0 5rem;
      }
      &__inner:before {
        display: none;
      }

      &__nav > ul > li > a,
      &__nav > ul > li > span,
      &__nav > ul > li > ul > li > a {
        font-size: 2.2rem;
        padding: 1rem 0;

        @media screen and (min-width:468px) {
          font-size: 3.2rem;
        }

        .description {
          display: none;
        }
      }

      &__col--left {
        flex-basis: 100%;
        justify-content: center;
        padding-bottom: 3.2rem;
      }
      &__col--right {
        display: none;
      }
      &__blind {
        display: none;
      }
      &__blind--left,
      &__blind--right {
        display: block;
        width: 50%;
      }
    }
  }
}
