.page-bridge {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background: left/cover url("/img/logo-symbols-gold.svg") no-repeat,
    var(--primary-black);
  pointer-events: none;

  &-enter-active {
    animation: 0.3s shutters reverse;
  }
  &-leave-active {
    animation: 0.3s shutters;
  }
}

.page-transition-enter {
  animation: 1s shutters reverse;
  opacity: 0;
}
.page-transition-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.page-transition-exit {
  opacity: 1;
}
.page-transition-exit-active {
  opacity: 0;
  animation: 1s shutters;
  transition: opacity 300ms;
}

@keyframes shutters {
  0% {
    clip-path: polygon(
      0% 0%,
      20% 0%,
      20% 100%,
      20% 100%,
      20% 0%,
      40% 0%,
      40% 100%,
      40% 100%,
      40% 0%,
      60% 0%,
      60% 100%,
      60% 100%,
      60% 0%,
      80% 0%,
      80% 100%,
      80% 100%,
      80% 0%,
      100% 0%,
      100% 100%,
      0% 100%
    );
  }
  100% {
    clip-path: polygon(
      20% 0%,
      20% 0%,
      20% 100%,
      40% 100%,
      40% 0%,
      40% 0%,
      40% 100%,
      60% 100%,
      60% 0%,
      60% 0%,
      60% 100%,
      80% 100%,
      80% 0%,
      80% 0%,
      80% 100%,
      100% 100%,
      100% 0%,
      100% 0%,
      100% 100%,
      20% 100%
    );
  }
}

@keyframes animClipPath {
  0% {
    clip-path: circle(150% at -150% 0%);
  }
  50% {
    clip-path: circle(150% at 0% 0%);
  }
  100% {
    clip-path: circle(150% at -150% 0%);
  }
}
