.page-content {
  height: 100%;
  width: 100%;
  visibility: hidden;

  z-index: z("page-content");
  .section-container {
    &.footer-visible {
      .section {
        pointer-events: none;
      }
    }
  }

}
