.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: var(--primary-black);
  color: var(--body-color);

  display: flex;
  align-items: center;
  justify-content: center;

  > svg {
    fill: currentcolor;
    animation: fill 1s ease forwards 2.6s;
    position: absolute;
    g:nth-child(1) {
      fill-opacity: 1;
      stroke: transparent;
      path {
        &:nth-child(1) {
          fill: transparent;
          animation: fill 2s ease forwards;
        }
        &:nth-child(2) {
          fill: transparent;
          animation: fill 2s ease forwards 0.3s;
        }
        &:nth-child(3) {
          fill: transparent;
          animation: fill 2s ease forwards 0.6s;
        }
        &:nth-child(4) {
          fill: transparent;
          animation: fill 2s ease forwards 0.9s;
        }
      }
    }
    g:nth-child(2) {
      fill-opacity: 1;
      stroke: transparent;
      path {
        &:nth-child(1) {
          fill: transparent;
          animation: fill 2s ease forwards;
        }
        &:nth-child(2) {
          fill: transparent;
          animation: fill 2s ease forwards 0.3s;
        }
        &:nth-child(3) {
          fill: transparent;
          animation: fill 2s ease forwards 0.6s;
        }
        &:nth-child(4) {
          fill: transparent;
          animation: fill 2s ease forwards 0.9s;
        }
        &:nth-child(5) {
          fill: transparent;
          animation: fill 2s ease forwards 1.2s;
        }
      }
    }
    @keyframes dash {
      to {
        stroke-dashoffset: 0;
        stroke: currentColor;
      }
    }
    @keyframes fill {
      to {
        fill: currentColor;
      }
    }
  }

  &__logo {
    width: 250px;
    @media only screen and (min-width: 768px) {
      width: 500px;
    }
  }
}
