.section {
  padding: 100px 0 100px;
  &__inner {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.section-componentblocksblockvideo,
.section-componentblocksblocktext,
.section-componentblocksblockclients,
.section-componentblocksblocklocations,
.section-componentblocksblockteam,
.section-componentblocksblocktitle,
.section-componentaboutblocktransparency,
.section-componentblocksblocklogo,
.section-componentblocksblockquote,
.section-componentblocksblockicons,
.section-componentaboutblockwebelivein,
.section-componentaboutblockvalues,
.section-componentblocksblockiconsitems,
.section-componentblocksblockcasestudies {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.section-componentblocksblockvideo,
.section-componentblocksblocktext,
.section-componentblocksblockclients,
.section-componentblocksblockteam,
.section-componentblocksblocklocations,
.section-componentblocksblocktitle,
.section-componentaboutblocktransparency,
.section-componentblocksblocklogo,
.section-componentblocksblockquote,
.section-componentaboutblockwebelivein,
.section-componentblocksblockicons,
.section-componentblocksblockiconsitems,
.section-componentaboutblockvalues,
.section-componentblocksblockcasestudies,
.section-componentblocksblocktextimage,
.section-componentblocksblocktexticons {
  .section__inner {
    position: relative;
    text-align: center;
    vertical-align: middle;
    .block--content {
      width: 100%;
      display: inline-block;
      position: relative;
      z-index: 2;
      padding: 0 var(--inner-padding-mobile);
      @media (min-width: 768px) and (max-width: 1023px) {
        max-width: 91.5rem;
      }
      @media (min-width: 1024px) {
        padding: 0;
        max-width: 102.4rem;
      }
     
    }
  }
}

.section-componentaboutblocktransparency,
.section-componentblocksblocklogo,
.section-componentaboutblockwebelivein {
  .section__inner {
    position: initial;
  }
}

.section-componentblocksblockvideo,
.section-componentblocksblocktext,
.section-componentblocksblockclients,
.section-componentblocksblocklocations {
  .text,
  .long--text {
    &__title {
      display: none;
      @media (max-width: 767px) and (orientation: portrait) {
        font: normal bold 1.8rem/1 var(--primary-font-family);
        display: block;
        margin-bottom: 3.5rem;
      }
    }
  }
}

.section-componentblocksblockvideo {
  padding: 0;
  height: 100vh;
  .text {
    &__title,
    &__paragraph {
      color: var(--white);
      text-align: center;
    }
  }
  .block {
    &--video {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }
}

.section-componentblocksblocktext {
  .text {
    &__title,
    &__paragraph {
      color: currentColor;
      text-align: center;
    }
  }
}

.section-componentblocksblockvideo {
  color: var(--white);
  background-color: var(--primary-black);
}

.section-componentblocksblocktext {
  color: var(--body-color);
  background-color: var(--primary-gray);
}

.section-componentblocksblockclients {
  color: var(--body-color);
  background-color: var(--primary-gray);
}

.section-componentblocksblockteam,
.section-componentblocksblocklocations {
  color: var(--white);
  background-color: var(--primary-black);
}

.section-componentblocksblocktitle {
  background-color: var(--primary-black);
  position: relative;
}

.section-componentaboutblocktransparency {
  position: relative;
  background-color: var(--primary-black);
}

.section-componentblocksblocklogo {
  position: relative;
  background-color: var(--primary-gray);
}

.section-componentblocksblockquote {
  position: relative;
}

.section-componentaboutblockwebelivein {
  position: relative;
  background-color: var(--primary-black);
}

.section-componentaboutblockvalues {
  position: relative;
  background-color: var(--primary-gray);
}

.section-componentblocksblockicons {
  position: relative;
  background-color: var(--primary-gray);
  .section__inner {
    flex-direction: column;
  }
}

.section-footer {
  background-color: var(--primary-black);
  color: var(--white);
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 4rem 0;
  z-index: z("page-footer");

  &__inner {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    padding: 0 var(--inner-padding-mobile);
    width: 100%;
    @media (max-width: 768px) {
      max-width: 91.5rem;
    }
    @media (min-width: 1000px) {
      max-width: 102.4rem;
    }
  }

  &__top,
  &__bottom {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__bottom {
    grid-template-columns: auto;
    margin-top: 4rem;
    ul {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      @media (min-width: 769px) {
        flex-direction: row;
      }

      li {
        a {
          font: normal bold 1.2rem/1.2
            var(--primary-font-family, "Montserrat, sans-serif");
          transition: color 0.25s var(--base-ease);
          &:hover {
            color: var(--primary-gray);
          }
        }
      }
    }
  }

  &__top,
  &__bottom {
    .page-footer__col {
      display: flex;
      flex-direction: column;
      margin-bottom: 0;
      @media (max-width: 768px) {
        margin-bottom: 2.4rem;
      }
    }
  }

  &--title {
    font: normal bold 3rem/1.2
      var(--secondary-font-family, "Montserrat, sans-serif");
  }

  &--title {
    font: normal bold 3rem/1.2
      var(--secondary-font-family, "Montserrat, sans-serif");
  }

  .footer__title {
    display: block;
    font: bold 1.9rem/0.9 var(--primary-font-family, "Montserrat, sans-serif");
  }

  .footer__text {
    color: var(--white);
    font: 1.6rem/1.3 var(--primary-font-family, "Montserrat, sans-serif");
    padding-top: 2rem;
  }
}

.section-componentblocksblocktext {
  padding: 0;
  .section__inner {
    background: var(--bg-color);
    color: var(--color);
    padding: 100px 0 100px;
  }
}
