.page-icons-fixed {
    position: fixed;
    bottom: 5rem;
    right: var(--inner-padding);
    visibility: visible;
    @media(max-width:767px) {
      visibility: hidden;
    }
    z-index: 999;
    width: 6.4rem;
    mix-blend-mode: difference;
    svg {
      // fill: currentColor;
      fill: white;
    }
    ul {
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 6.4rem;
        padding: 1.6rem 0;
        &:last-child {
          padding-bottom: 0;
        }
        a {
          color: currentColor;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 1.8rem;
          height: 1.8rem;
          transition: opacity 0.2s ease-in-out;
          &:hover {
            opacity: .5;
          }
        }
      }
    }
  }
  