/* ********************
Team
******************** */

.team {
  padding: 10rem 0;

  &--list {
    font-size: 0;
    @media (max-width: 768px) {
      line-height: 32.5rem;
    }
    line-height: 45rem;
    white-space: nowrap;
    width: 100vw;
    user-select: none;
  }

  &--box {
    transform: translateX(50%);
  }

  &--content {
    position: relative;
    transform: scale(1);
    transition: transform .5s var(--primary-ease);
    @media (max-width: 768px) {
      margin-bottom: 0;
    }
    &--dragging {

        transform: scale(.9);
        transition: transform .5s var(--primary-ease);

        .team__indicator{
          opacity: .8;
          visibility: visible;
        }
    }
  }

  &--indroduction {
    @media screen and(min-width:769px) {
      margin-bottom: 4rem;
    }
    &__inner {
      margin: auto;
      max-width: 72rem;
      width: 100%;

      display: grid;
      grid-template-columns: 100%;
      @media (max-width: 768px) {
        padding: 0 var(--inner-padding-mobile);
      }
      gap: 2rem;

      > div {
        h1 {
          text-align: center;
          @media (max-width: 768px) {
            margin-bottom: 2rem;
          }
          font: 700 2.4rem/1 var(--heading-font-family);
          text-transform: uppercase;
        }
      }
    }
  }

  &-item {
    width: 14.28571%;
    display: inline-block;
    padding: 0 0.15rem;
    position: relative;
    transform: translateY(50%);
    opacity: 0;
    transition: width 0.8s ease;
    vertical-align: middle;
    will-change: auto;

    &:hover {
      cursor: pointer;
    }

    @media (max-width: 768px) {
      width: 15rem;
      &__active {
        width: 17.5rem;
        @media (max-width: 768px) {
          .team-item__name {
            opacity: 1;
            visibility: visible;
          }
          .team-item__image {
            img {
              opacity: 1;
            }
          }
        }
      }
    }

    &__large {
      width: 15%;
      .team-item__image img {
        opacity: 0.7;
      }
    }
    &__huge {
      width: 18%;
      .team-item__image img {
        opacity: 1;
      }
    }
  }

  &--list {
    pointer-events: all;
    &--dragging {
      pointer-events: none;
    }
  }

  &-item__inner {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  &-item__image {
    position: relative;
    width: 100%;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
      height: 100%;
      pointer-events: none;
      opacity: 0.4;
      transition: opacity 0.8s ease;
    }
    &-inner {
      overflow: hidden;
    }
  }

  &-item__name {
    display: none;
    @media (max-width: 768px) {
      display: block;
      font: normal 700 2.2rem/0.8 var(--primary-font-family, "Montserrat, sans-serif");
      margin-top: 2rem;
      opacity: 0;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      transition: opacity 0.4s ease, visibility 0.4s ease;
      visibility: hidden;
    }
  }

  &__explore {
    &--container {
      margin-top: 4rem;
    }

    position: relative;

    @media (max-width: 768px) {
      display: none;
    }

    &--indicator {
      display: inline-block;
      left: 50%;
      position: absolute;
      top: 100%;
      transform: translate(-50%, -50%);
    }

    &--circle {
      border: 0.1rem solid var(--secondary-gray);
      border-radius: 50%;
      content: "";
      display: block;
      height: 1.6rem;
      position: absolute;
      top: 0;
      width: 1.6rem;
      &--left {
        left: 0;
        transform: translate(-50%, -50%);
      }
      &--right {
        right: 0;
        transform: translate(50%, -50%);
      }
    }

    &--line {
      background-color: var(--secondary-gray);
      display: block;
      height: 0.1rem;
      position: relative;
      transform-origin: left;
      width: 100%;
    }

    &--label {
      display: block;
      width: 100%;
      text-align: center;
      font: oblique bold 1.9rem var(--secondary-font-family, "Montserrat, sans-serif");
      padding: 3rem 1rem 0;
    }
  }

  &__feedback {
    @media (max-width: 768px) {
      display: none;
    }
    left: 50%;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    width: 46rem;
  }

  &--names {
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    @media (max-width: 768px) {
      display: none;
    }
  }

  &__name {
    font: oblique bold 14rem/0.8 var(--secondary-font-family, "Montserrat, sans-serif");
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    width: 100%;
  }

  &__name {
    color: var(--white);
    pointer-events: none;
    visibility: hidden;
    > span {
      display: inline-block;
    }
  }

  &__informations {
    position: relative;

    &--single {
      display: grid;
      grid-template-columns: 30% 70%;
      left: 50%;
      max-width: 100rem;
      position: absolute;
      top: 0rem;
      transform: translate(-50%);
      visibility: hidden;
      width: 100%;
      text-align: left;
      &--header,
      &--description {
        transform: translateY(20%);
        opacity: 0;
      }
      &--name {
        font-size: 2.4rem;
        font-weight: 700;
        margin-bottom: 1rem;
      }
      &--role {
        font-size: 1.6rem;
      }
      &--description {
        font: normal bold 1.2rem/1.5 var(--primary-font-family, "Montserrat, sans-serif");
      }
    }
  }

  &__indicator {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s var(--primary-ease);

    circle {
      transition: stroke-dashoffset 0.35s;
      transform: rotate(-90deg);
      transform-origin: 50% 50%;
    }
  }
}
