.title {
  &--wrapper {
    text-align: center;
  }
  &--header__title {
    display: inline-block;
    margin: auto;
    position: relative;
    text-transform: uppercase;
    max-width: 84rem;

    span {
      opacity: 1;
      transform: translateY(0%);
      display: inline-block;
    }
  }
  &--header__highlight {
    font: normal normal 300 6rem/1
      var(--heading-font-family, "Montserrat, sans-serif");
    color: var(--gold);

    @media (min-width: 768px) {
      font-size: 10rem;
    }
  }

  &--header__text {
    font: normal normal 300 6.75rem/1.2
      var(--heading-font-family, "Montserrat, sans-serif");
    color: var(--white);

    @media (max-width: 768px) {
      font-size: 2.8rem;
      margin-top: 0.1rem;
    }
  }

  &--content {
    max-width: 64rem;
    margin: 5rem auto;
    > p {
      color: var(--white);
      font: normal normal bold 1.6rem/1.5 var(--third-font-family);
      @media screen and (min-width: 768px) {
        font-size: 3.5rem;
      }
    }
  }
}
