.section-componentblocksblockvideo {
  .section {
    &__inner {
      vertical-align: bottom;
    }
  }
  .block {
    &--text {
      height: 100%;
      width: 100%;
      display: table;
      margin: auto;
      max-width: 102.4rem;
      position: relative;
      z-index: 10;
      pointer-events: none;

      .text {
        &--overlay {
          font: normal 900 5rem/0.9 var(--heading-font-family);
          padding: 2rem;

          @media screen and(min-width:769px) {
            font-size: 9rem;
            max-width: 42rem;
            padding: 0rem;
          }

          text-transform: uppercase;
          text-align: left;
          text-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.8);
          position: absolute;
          opacity: 0;

          &:nth-child(1) {
            opacity: 1;
            bottom: 5rem;
            left: 0;
          }

          &:nth-child(2),
          &:nth-child(3) {
            top: 5rem;
            right: 0rem;
          }
          &:nth-child(4) {
            top: 5rem;
            left: 0rem;
          }
          &:nth-child(5) {
            top: 5rem;
            right: 0rem;
            display: grid;
          }
          &:nth-child(6),
          &:nth-child(7) {
            font-size: 8rem;
            bottom: 5rem;
            width: 100%;
            max-width: 100%;
            text-align: center;
          }
          &:nth-child(8) {
            bottom: 15rem;
            width: 100%;
            max-width: 100%;
            font-size: 8rem;
          }
          &:nth-child(9) {
            bottom: 5rem;
            width: 100%;
            max-width: 100%;
            font-size: 8rem;
          }
          &:nth-child(10) {
            bottom: 5rem;
            left: 0rem;
          }
          &:nth-child(11),
          &:nth-child(12) {
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            max-width: 100%;
            text-align: center;
          }

          @media screen and(min-width:769px) {
            &:nth-child(6),
            &:nth-child(7),
            &:nth-child(11),
            &:nth-child(12) {
              font-size: 8rem;
            }
          }
        }

        &-yellow {
          color: var(--gold);
        }
        &-highlighted {
          background-color: var(--gold);
          color: var(--black);
          display: inline-block;
          text-shadow: none;
          width: fit-content;
          padding: 0.5rem;
        }
      }
    }
  }
}
