.wrapper {
  position: relative;
}

#__next,
[class*="page-transition-"],
.wrapper,
.page-canvas {
  height: 100%;
  width: 100%;
}

.page-canvas {
  .page-navigation {
    color: var(--white);
  }
  &.nav-open {
    .page-navigation {
      color: var(--white);
    }
  }
}

.section-container{
  will-change: auto;
}
