#marketing-hub {
  .section-componentblocksblocktitle {
    .section__inner {
      background: var(--backgroundImage) no-repeat fixed center;
      background-size: contain;
    }
  }

  .section-componentblocksblocktextimage {
    padding: 0;
    .section__inner {
      background: var(--backgroundImage) no-repeat center;
      background-size: cover;
      padding: 100px 0;
      @media screen and (min-width: 769px) {
        padding: 200px 0;
      }
    }

    .block--content {
      &__title {
        font: normal bold 1.6rem/1.5 var(--third-font-family);
        text-align: left;
        margin-bottom: 4rem;

        @media (min-width: 576px) and (max-width: 768px) {
          font-size: 3rem;
        }

        @media screen and (min-width: 769px) {
          font-size: 4rem;
        }

        span {
          opacity: 0;
        }
      }
      &__paragraph {
        font: normal 500 1.6rem/1.4 var(--primary-font-family);
        text-align: left;
        opacity: 0;
        transform: translateY(40px);

        @media (min-width: 576px) and (max-width: 768px) {
          font-size: 2.2rem;
        }

        @media screen and (min-width: 769px) {
          font-size: 3rem;
        }
        p {
          + p {
            margin-top: 6rem;
          }
          .btn__red {
            margin-top: 2rem;
          }
        }
      }
    }
  }

  .section-componentblocksblocktexticons {
    background: var(--primary-black);

    .block--content {
      &__title {
        font: normal 100 3rem/1.4 var(--heading-font-family);
        text-transform: uppercase;
        color: var(--gold);

        @media (min-width: 576px) and (max-width: 768px) {
          font-size: 4rem;
        }

        @media screen and (min-width: 769px) {
          font-size: 10rem;
        }
        span {
          opacity: 0;
        }
      }
      &__paragraph {
        margin-bottom: 6rem;
        opacity: 0;
        transform: translateY(40px);

        h3 {
          font: normal 100 3rem/1.4 var(--heading-font-family);
          text-transform: uppercase;
          color: var(--white);
          margin-bottom: 4rem;
          @media screen and (min-width: 769px) {
            font-size: 6rem;
          }
        }

        p {
          font: normal 500 1.6rem/1.4 var(--primary-font-family);
          color: var(--white);
          @media screen and (min-width: 769px) {
            font-size: 3rem;
          }
          + p {
            margin-top: 6rem;
          }
          .btn__red {
            margin-top: 2rem;
          }
        }
      }
    }

    .block--icons {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      gap: 4rem;

      &__icon {
        flex-basis: 20%;
        opacity: 0;
        transform: translateY(40px);

        &--title {
          margin-top: 3rem;
          font: normal bold 1.6rem/1.4 var(--third-font-family);
          color: var(--white);

          @media screen and (min-width: 769px) {
            font-size: 3rem;
          }
        }
      }
    }
  }
}
