#top-business-tech {
  .section {
    padding: 0;

    &__inner {
      max-width: 1140px;
      margin: 0 auto;
      padding: 0 var(--inner-padding-mobile);
      @media (min-width: 1025px) {
        padding: 0;
      }
    }

    .flex {
      display: flex;
    }

    .image-overlay {
      background-size: cover;
      background-repeat: no-repeat;
      @media screen and (min-width: 768px) {
        background-size: contain;
        background-position: center right;
      }
    }

    &:nth-child(1) {
      background-color: #fff;
      padding: 12rem 20px 25px;

      @media screen and (min-width: 769px) {
        padding-top: 5rem;
      }

      @media screen and (min-width: 1024px) {
        padding: 5rem 150px 25px;
      }

      .section__inner {
        display: block;
      }
    }

    &:nth-child(2) {
      background-color: #fff;

      .section__inner {
        display: block;

        .flex {
          flex-direction: column;
          padding: 25px 20px;
          @media screen and (min-width: 768px) {
            padding: 0;
          }
        }

        .text-square {
          align-self: flex-end;
          max-width: 400px;
          padding: 100px 20px;
          border: 5px solid #2987ca;
          @media screen and (min-width: 769px) {
            padding: 200px 40px;
            transform: translateY(-50px);
          }
          h2 {
            font: normal bold 5.8rem/0.8 "Foco";
            @media screen and (min-width: 769px) {
              font: normal bold 8rem/0.8 "Foco";
            }
            margin-bottom: 2rem;
            padding-left: 1rem;
            border-left: 10px solid #2987ca;
          }
          p {
            font: normal normal 2rem/1.2 "Foco";
          }
        }
      }
    }

    &:nth-child(3) {
      @media screen and (min-width: 769px) {
        padding: 100px 0;
      }
      background-color: #fff;
      .flex {
        flex-direction: column;
        padding: 25px 20px;
        @media screen and (min-width: 769px) {
          padding: 0;
        }
      }

      .text-square {
        align-self: flex-start;
        width: 100%;
        @media screen and (min-width: 769px) {
          max-width: 50%;
        }
        margin: 100px 0;
        h2 {
          font: normal bold 2.2rem/1.2 "Foco";
          margin-bottom: 2rem;
          padding-left: 1rem;
          border-left: 10px solid #2987ca;
        }
        p {
          font: normal normal 2rem/1.2 "Foco";
        }
      }
    }

    &:nth-child(4) {
      background-color: #fff;
      @media screen and (min-width: 768px) {
        padding: 100px 0;
      }
      .flex {
        flex-direction: column;
        padding: 25px 20px;
        @media screen and (min-width: 769px) {
          padding: 0;
        }
      }

      .text-square {
        display: flex;
        flex-direction: column;
        @media screen and (min-width: 768px) {
          flex-direction: row-reverse;
          justify-content: space-between;
        }
        > div {
          &:nth-child(1) {
            width: 100%;
            padding: 40px 40px;
            margin-bottom: 15px;
            @media screen and (min-width: 768px) {
              transform: translateY(-50px);
              padding: 200px 40px;
              max-width: 400px;
            }
            border: 5px solid #2987ca;

            h2 {
              font: italic bold 4rem/0.8 "Foco";
              padding-left: 1rem;
              border-left: 10px solid #2987ca;
            }
          }
          &:nth-child(2) {
            @media screen and (min-width: 768px) {
              max-width: 50%;
              margin: 100px 0;
            }
          }

          p {
            font: normal normal 2rem/1.2 "Foco";
            + p {
              margin-top: 2rem;
            }
          }
        }
      }
    }

    &:nth-child(5) {
      background-color: #fff;
      padding: 50px 0;
      @media screen and (min-width: 769px) {
        padding: 100px 0;
      }
      .flex {
        flex-direction: column;
        padding: 25px 20px;
        @media screen and (min-width: 769px) {
          padding: 0;
        }
      }

      h2 {
        font: normal bold 3rem/1 "Foco";
        @media screen and(min-width:769px) {
          font: normal bold 4rem/1 "Foco";
        }
        text-align: center;
        margin-bottom: 4rem;
      }

      .block--icons {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        &__icon {
          text-align: center;
          flex: 1 1 20%;
          display: inline-flex;
          flex-direction: column;
          align-items: center;
        }
        &__icon--title {
          font: normal bold 2rem/0.8 "Foco";
          margin-bottom: 2rem;
        }
        &__icon--description {
          font: normal normal 1.2rem/1.5 "Foco";
          max-width: 200px;
        }
      }
    }

    &:nth-child(6) {
      padding: 100px 0;
      background-color: #2987ca;
      .footer {
        width: 100%;
        color: #fff;
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        padding: 0 20px;
        @media screen and(min-width:768px) {
          grid-template-columns: repeat(3, 1fr);
        }

        &__items--title {
          font: normal bold 1.8rem/0.8 "Foco";
          margin-bottom: 1rem;
        }
        &__items--content {
          font: normal normal 1.4rem/1.1 "Foco";
          a {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
