.section-componentaboutblocktransparency {
  height: auto;
  padding-bottom: 20vh;
  @media screen and(min-width: 768px) {
    height: 100vh;
    padding: inherit;
  }
  .grid {
    display: grid;
    @media screen and(min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
    position: relative;
    z-index: 10;
    &--wrapper {
      grid-column: 2/2;
    }
    &--header__title {
      font: normal normal 200 2.4rem/1.2 var(--heading-font-family);
      @media screen and(min-width: 768px) {
        font: normal normal 200 4.2rem/1.2 var(--heading-font-family);
      }
      text-align: left;
      text-transform: uppercase;
      color: var(--gold);
      margin-bottom: 2rem;

      transform: translateY(50px);
      opacity: 0;
    }
    &--content__text {
      font: normal normal bold 1.5rem/1.6 var(--third-font-family);
      @media screen and(min-width: 768px) {
        font-size: 1.5rem;
      }
      text-align: left;
      color: var(--white);

      transform: translateY(50px);
      opacity: 0;
    }
  }

  .transparency-bg {
    position: absolute;
    object-fit: contain;
    width: 150%;
    @media screen and(min-width: 768px) {
      //width: 100%;

      transform: translateY(50%);
    }
    left: 0;
    bottom: 0;
    opacity: 0.25;
  }
  .drop {
    width: 100%;
    position: absolute;
    left: 0;
    opacity: 0.75;

    &:nth-child(1),
    &:nth-child(3) {
      z-index: 9;
    }
    &:nth-child(2),
    &:nth-child(4),
    &:nth-child(5) {
      z-index: 11;
    }
  }
}

.section-componentaboutblockwebelivein {
  height: 50vh;
  @media screen and(min-width: 768px) {
    height: 100vh;
  }
  .block {
    &--title {
      text-align: center;
      font: normal normal 300 4rem/1.2 var(--heading-font-family);
      @media screen and(min-width:768px) {
        font-size: 8rem;
      }
      color: var(--gold);
      text-transform: uppercase;
      margin-bottom: 2rem;
    }
    &--subtitle {
      text-align: center;
      font: normal normal bold 1.6rem/1.2 var(--third-font-family);
      @media screen and(min-width:768px) {
        font-size: 2.8rem;
      }
      color: var(--primary-gray);
      opacity: 0;
      @media screen and(max-width:767px) {
        span {
          display: block;
          + span {
            margin-top: 1rem;
          }
        }
      }
    }
    &--title {
      span {
        display: inline-block;
        opacity: 0;
        transform: translateY(40px);
      }
    }
  }
  .we-believe-in-bg {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
  }
}

.section-componentaboutblockvalues {
  height: auto;
  padding: 0;

  .section__inner {
    padding: 10vh 0;
    @media screen and (min-width: 769px) {
      padding: 20vh 0;
    }
  }

  .block {
    &--values {
      &__title {
        font: normal bold 3rem/1 var(--heading-font-family);
        text-transform: uppercase;
        transform: translateY(40px);
        opacity: 0;
        margin-bottom: 4rem;
        @media screen and(min-width:769px) {
          margin-bottom: 6rem;
        }
      }

      &__items {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        @media screen and(max-width:769px) {
          gap: 5rem;
        }
        margin-bottom: 4rem;
        overflow: hidden;

        .arrows {
          position: absolute;
          visibility: hidden;
          opacity: 0;
          transition: opacity 0.5s linear;
        }

        &.scrolling {
          .arrows {
            visibility: visible;
            opacity: 1;
          }
        }

      
        @media screen and(min-width:769px) {
          align-items: center;
          height: 40vh;
          line-height: 40vh;
        }

        @media (hover: hover) {
          &:hover {
            .value {
              transform: scale(0.8);
            }
          }
        }

        .value {
          width: 100%;
          padding: 0;
      
          @media screen and(min-width:768px) {
            width: 40%;
          }

          @media screen and(min-width:1024px) {
            width: calc(25% - 2rem);
          }
          @media screen and(max-width:768px) {
            pointer-events: none;
          }
          display: inline-flex;
          justify-content: flex-start;
          flex-direction: column;
          align-items: center;
          transition: transform 0.15s linear;
          position: relative;
          transform-origin: center center;

          @media (hover: hover) {
            &:hover {
              cursor: pointer;
              z-index: 1;
            }
            &:hover {
              transform: scale(1);
            }
          }

          &--icon {
            border-radius: 50%;
            width: 50%;
            padding-bottom: 50%;
            @media screen and(min-width:768px) {
              width: 100%;
              padding-bottom: 100%;
            }
            position: relative;
            background-color: var(--primary-dark-gray);
            transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
            border: 1px solid var(--primary-gray);

            svg {
              width: 50%;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
            }

            .cog {
              transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
              transform-origin: 37% 36%;
            }

            .hands {
              transform-origin: 50% 50%;
              transition: transform 1s;
            }

            .heart {
              transform: translateY(0px);
              transform-origin: 50% 50%;
              transition: transform 1s;
            }

            .piece {
              transform-origin: 50% 50%;
              transition: transform 1s;
            }

            &:hover {
              .cog {
                transform: rotate(360deg);
              }

              .hands {
                animation: animHands 1s infinite backwards;
              }

              .heart {
                animation: animHeart 1s infinite forwards;
              }

              .line {
                animation: animLines 1s infinite forwards;
              }

              .piece {
                &:nth-child(1) {
                  transform: translate(-10px, 10px);
                }
                &:nth-child(2) {
                  transform: translate(10px, -10px);
                }
                &:nth-child(3) {
                  transform: translate(-10px, -10px);
                }
                &:nth-child(4) {
                  transform: translate(10px, 10px);
                }
              }
            }
          }

          &--title {
            font: normal normal 2rem/1.2 var(--primary-font-family);
            margin: 2rem 0;
            @media screen and(min-width:769px) {
              margin: 5rem 0;
            }
            position: relative;
            display: inline-block;
            letter-spacing: 0.36px;
            opacity: 0.8;
            transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
          }

          &--content {
            font: normal normal normal 1.5rem/1.5 var(--primary-font-family);
            @media screen and(min-width:769px) {
              display: none;
            }
          }

          &.minified {
            @media screen and(min-width:769px) {
              transform: scale(0.8);
              opacity: 0.5;
              transition: opacity 0.5s linear;

              .value--title {
                opacity: 0;
                visibility: hidden;
              }
            }
            @media (hover: hover) {
              &:hover {
                opacity: 1;
              }
            }
          }

          &.expanded {
            @media screen and(min-width:769px) {
              transform: scale(1.1);
            }

            .value--icon {
              .cog {
                animation: animCog 1s infinite backwards;
              }

              .hands {
                animation: animHands 1s infinite backwards;
              }

              .heart {
                animation: animHeart 1s infinite forwards;
              }

              .line {
                animation: animLines 1s infinite forwards;
              }

              .piece {
                &:nth-child(1) {
                  transform: translate(-10px, 10px);
                }
                &:nth-child(2) {
                  transform: translate(10px, -10px);
                }
                &:nth-child(3) {
                  transform: translate(-10px, -10px);
                }
                &:nth-child(4) {
                  transform: translate(10px, 10px);
                }
              }
            }

            .value--title {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }

      &__content {
        width: 100%;
        position: relative;
        display: none;
        visibility: hidden;
        @media screen and(min-width:769px) {
          display: block;
          visibility: visible;
          margin-top: 6rem;
        }
        .value--content {
          position: absolute;
          top: 50%;
          left: 0%;
          transform: translate(0%, -50%);
          font: normal normal normal 1.5rem/1.5 var(--primary-font-family);
          @media screen and(min-width:768px) {
            left: 50%;
            transform: translate(-50%, -50%);
            font: normal normal normal 1.8rem/1.5 var(--primary-font-family);
          }
          opacity: 0;
          visibility: hidden;
          max-width: 110rem;
          transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
          &.active {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }

    &--title {
      width: 0;
      overflow: hidden;
      text-align: center;
      margin: 0 auto;
      @media screen and(min-width:769px) {
        margin-top: 25rem;
      }
      padding: 1rem 0;
      background-color: var(--gold);
      h2 {
        white-space: nowrap;
        font: normal normal 300 1.2rem/1.2 var(--heading-font-family);
        @media screen and(min-width:768px) {
          font-size: 2.8rem;
        }
        text-transform: uppercase;
      }
    }
  }
}

@keyframes animCog {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animHands {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}

@keyframes animHeart {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes animLines {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0.5;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
