@font-face {
  font-family: "Foco";
  src: url("../../fonts/Foco-Regular.eot");
  src: url("../../fonts/Foco-Regular.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/Foco-Regular.woff2") format("woff2"),
    url("../../fonts/Foco-Regular.woff") format("woff"),
    url("../../fonts/Foco-Regular.ttf") format("truetype"),
    url("../../fonts/Foco-Regular.svg#Foco-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Foco";
  src: url("../../fonts/Foco-Bold.eot");
  src: url("../../fonts/Foco-Bold.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/Foco-Bold.woff2") format("woff2"),
    url("../../fonts/Foco-Bold.woff") format("woff"),
    url("../../fonts/Foco-Bold.ttf") format("truetype"),
    url("../../fonts/Foco-Bold.svg#Foco-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Montserrat:wght@300&family=Mulish:wght@300&display=swap');
@import url("https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");

html {
  font-size: 10px;
  overscroll-behavior: contain;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  scroll-behavior: smooth;
}

body {
  font-family: var(--primary-font-family, "Mulish, sans-serif");
  background-color: var(--body-background, "#EDD382");
  color: var(--body-color, "#000");
  -webkit-font-feature-settings: "liga", "kern";
  font-feature-settings: "liga", "kern";
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overscroll-behavior-y: none;
}

strong {
  font-weight: 700;
}
