* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block
}

body {
  line-height: 1
}

ol,ul {
  list-style: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
  padding: 0
}

a,button {
  color: inherit;
  outline: none
}

a {
  text-decoration: none
}

a [href] {
  cursor: pointer
}

:focus {
  outline: none
}

::-moz-focus-inner {
  border: 0
}