:root {
  --primary-blue: #232323;
  --primary-black: #020122;
  --primary-dark-gray: #030021;
  --primary-gray: #f3f3f3;
  --secondary-gray: #6c756f;
  --primary-light-gray: #f2f2f2;
  --color-primary: #204b67;
  --color-secondary: #1f2823;
  --color-accent: #1d1f2f;
  --color-focus: #1a87c6;
  --base-duration: 400ms;
  --base-ease: cubic-bezier(0.25, 0.46, 0.45, 0.84);
  --primary-ease: cubic-bezier(0.475, 0.425, 0, 0.995);
  --body-background: #f3f3f3;
  --body-color: #030021;
  --blue: #1a87c6;
  --black: #000;
  --white: #fff;
  --orange: #df5329;
  --red: #C5283D;
  --gold: #EDD382;
  --primary-font-family: "Mulish", sans-serif;
  --heading-font-family: "Montserrat", sans-serif;
  --third-font-family: "Libre Baskerville", sans-serif;
}

:root {
  --phone: 25em;
  --phone-wide: 30em;
  --phablet: 35em;
  --tablet-small: 40em;
  --tablet: 48em;
  --tablet-wide: 64em;
  --desktop: 78em;
  --desktop-wide: 90em;
}

:root {
  --inner-padding: 6.4rem;
  --inner-padding-mobile: 2.4rem;
}
